ul.my_recent_custom_posts li {
  margin: 0 0 10px 0;
  list-style: none;
}
ul.my_recent_custom_posts li img {
	display: inline;
  float: left;
  margin: 0.3em 0.75em 0.75em 0;
}
ul.my_recent_custom_posts li span {
  display: inline-block;
}
ul.my_recent_custom_posts span.terms a {
  color: #757575;
  border-bottom: 1px dotted #bdbdbd;
}
ul.my_recent_custom_posts span.terms a:hover {
  color: #0288d1;
  border-color: #0288d1;
}
